/*case studies */

.case-study-img img {
	padding-bottom: 20px;
}

/*pump systems */

 .pump-system-img ul {
 	list-style: none;
 }

 

.pump-system-img ul li {
    padding-bottom: 15px;
}

.pump-sys-img {
	margin: auto;
}

.pump-system-content ul {
	list-style: none;
}
.pump-sys-img a img {
	display: block;
    margin-right: auto;
    margin-left: auto;
}

.button {
    width: 625px;
    margin: auto;
    background-color: #bf2128;
    columns: #fff;
}

.center p {
	text-align: center;
}

/* pump systems front-page*/

.pump-systems  {
    float: left;
    width: 40%;
}
.pump-systems-img {
    float: left;
    width: 45%;

}

.center-block a img {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
/*about page/press releases alternating content */

.pr-img {
  float: left;
  width: 30%
}

.caption {
  float: left;
  width: 67%
}

.caption h3 {
  margin-top: 0;
}



.caption ul {
  list-style: none;
}



.alternating-content .item {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;  
padding: 30px 5px;  
}

.alternating-content .item:after {
content: "";  
display: block;  
clear: both;  
}



.alternating-content:nth-child(odd) .pr-img {
float: left;  
}



.alternating-content:nth-child(even) .pr-img {
float: right;  
}

.pr-img a img {
  display: block;
    margin-right: auto;
    margin-left: auto;
}

figcaption {
  text-align: center;
}

.service-area .well-lg {
  background-color: #bf2128;
}

  /*pump diagrams center */

  .pump-diag img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  } 

/* navigation */
.menu-row-search-box form button {
    font-weight: bolder;
    color: #403f4c;
  }

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #fff;
  text-decoration: none;
}

/* footer */

.copyright h4 {
    text-transform: uppercase;
}


.icon img {
  width: 120px;
  height: auto;
}

#nf-form-1-cont { 
width: 100%;
 }

 .ninja-forms-req-symbol {
  visibility: hidden;
}

.nf-form-fields-required {
  visibility: hidden;
}

#nf-field-4 {
    background: #f8bf53;
    color: #403f4c !important;
    font-size: 12px;
    display: inline-block;
    padding: 14px 13px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.25);
    border-radius: 2px;
    margin-top: 30px;
    }


    @media (min-width: 550px) {
      .footer-logo{
    float: right;
}

    }


    @media (min-width: 768px) {

        #nf-form-1-cont { 
        width: 65%;
        }


